.me {
  text-align: center;
  font
}

.listing {
  padding: 0;
}

.listing li {
  list-style-type: none;
  padding: 7px 5px;
  margin-bottom: 10px;
  font-size: 21px;
}

.listing span {
  text-transform: uppercase;
  font-size: 14px;
  color: #b9b9b9;
  display: block;
  padding: 5px;
}

.listing a {
    border-bottom: 3px solid #ffba00;
    padding: 5px;
}

a:hover {
    text-decoration: none !important;
    background: #ffba00;
    color: white !important;
}

.my-container{
  margin-top: 25px;
  max-width: 730px;
  margin-right: auto;
  margin-left: auto;
}

.post > h1, .page > h1 {
  font-weight: bold;
  font-size: 34px;
  margin: 40px -30px 30px -30px;
  padding: 15px 30px 30px 23px;
  border-left: 7px solid #F6DF6A;
  font-weight: 400;
  color: #444;
}
.post > h2 {
  margin: 50px -30px 20px -30px;
  padding: 10px 30px 10px 25px;
  border-left: 5px solid #F6DF6A;
  font-weight: bold;
  color: #444;
}

.post > h3 {
  margin: 50px -30px 20px -27px;
  padding: 12px 30px;
  font-weight: bold;
  border-left: 3px solid #F6DF6A;
  font-weight: 400;
  color: #444;
}

.post > h4 {
  margin: 50px -30px 20px -27px;
  padding: 12px 30px;
  font-weight: bold;
  border-left: 3px solid #f66a81;
  color: #444;
}

.when {
  font-size: 14px;
  text-transform: uppercase;
  color: #999;
  /*margin-top: -60px;*/
  /*margin-bottom: 40px;*/
}

.nav-item {
  border-bottom: 3px solid #ffba00;
  padding: 20px;
}

.nav-item.active {
  font-weight: bold;
}

.hero {
  background-image: url('/public/images/background.jpeg');
  background-size: contain;
  background-position: center center;
  z-index: 1;
  margin-bottom: 0rem;

  min-height: 140px;
}

@media (min-width: 56em) {
  .hero {
    height: 300px;
  }
}

.pdate {
  color: white;
  background: #ffba00;
  padding: 3px;
  margin-bottom: 5px;
}

.side-title {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: -.025rem;
}

.masthead {
  padding-top: 0px !important;
  padding-bottom: 0px !important;

  margin: 0px 0 0px 0 !important;
  border-bottom: none !important;
}

.masthead-title {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  letter-spacing: 0px;
}

.masthead-title > a {
  font-weight: bold;
  text-align: center;
  background: #ffba00;
  color: white;
  text-decoration: none;
  margin-bottom: .5rem;
  text-rendering: optimizeLegibility;

  padding: 10px;
  font-size: 1.5em;
  display: block;
}

@media (min-width: 56em) {
  .masthead-title {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .masthead-title > a {
    padding: 10px 30px;
    font-size: 2em;
    display: inline;
  }
}

.masthead > .container {
  padding: 30px;
  text-align: center;
}

.masthead > .container > a {
  font-size: 1.3em;
  padding: 7px;
  text-decoration: none
}

.masthead > .container > hr {
  width: 33%;
  margin: 7px auto;
  border-top: 2px solid #fd8204;
}

.footer {
  margin-top: 45px;
  font-size: 13px;
}

.navigation {
    font-size: 14px;
    display: block;
    width: auto;
    text-transform: capitalize;
    margin: 1em 0;
}

.navigation .prev {
    border-bottom: 3px solid #ffba00;
    padding: 3px 5px;
    display: block;
    max-width: 50%;
    float: left;
}

.navigation .next {
    border-bottom: 3px solid #ffba00;
    padding: 3px 5px;
    display: block;
    max-width: 50%;
    float: right;
}

@media (min-width: 56em) {
  .navigation .prev {
      float: left;
      border-bottom: 3px solid #ffba00;
      padding: 3px 5px;
      display: block;
  }

  .navigation .next {
      float: right;
      border-bottom: 3px solid #ffba00;
      padding: 3px 5px;
      display: block;
  }
}

#post-meta {
    padding: 30px 0;
    margin: 30px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 13px;
}
#post-meta img.avatar {
    height: 36px;
    width: 36px;
    float: left;
    border-radius: 50%;
    margin: 0px;
    margin-top: 3px;
    margin-right: 20px;
    box-shadow: 0 0 0 3px #fff,0 0 0 4px #eee;
}

#post-meta div span {
    display: block;
}
#post-meta div {
    margin: 0 25px 0 0;
    float: left;
}

#sharing {
    float: right;
}

figure {
    margin: 0px;
}

html {
    /* -webkit-font-smoothing: antialiased; */
}


html {
    /*font-family: 'Open Sans',Helvetica Neue,Helvetica,Arial,sans-serif;*/
    font-weight: 400;
    line-height: 1.7;
}

.graphql {
  font-size: 0;
  /*https://css-tricks.com/fighting-the-space-between-inline-block-elements/*/
  position: relative;
  left: -10%;
  width: 120%;
  background-color: #f9f9f9;
  margin-bottom: 1rem;
}
.graphql > .highlight {
  top: 0;
  display: inline-grid;
  width: 49%;
  margin-bottom: 0;
}
.graphql > .highlight pre {
  font-size: 13px;
}
.graphql > .highlight:last-child {
  border-left: 1px solid #e0e0e0;
  margin-left: -1px;
}
.graphql > .highlight:first-child {
  border-right: 1px solid #e0e0e0;
}

.ww{
  margin-top: 40px;
}

.side a {
  background: #ffba00;
  color: white !important;
  padding-left: 3px;
  padding-right: 3px;
}

.side {
  padding-top: 20px;
  font-size: 0.8em;
  border-left: 1px solid #ffba00;
  padding-right: 30px;
  padding-left: 30px;
  display: none;
}

.content {
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: 56em) {
  .side {
    display: block;
    float:right;
    max-width: 30%;
  }

  .content {
    float: left;
    width: 70%;
    padding-right: 30px;
    padding-left: 30px;
  }
}
