<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body class="layout-reverse sidebar-overlay theme-base-13">
  <div class="wrap">
    <div class="masthead">

      <div class="banner" style="{% if page.style %}{{ page.style }}{% endif %}">
        <div class="masthead-title">
          <a href="/" title="Home">{{ page.title }}</a>
        </div>
      </div>
    </div>

    <div class="ww container">
      <div class="mobile-menu clearfix">
        <a href="/" class="nav-item" >Anasayfa</a>
        <a class="nav-item" href="/about">Hakkımda</a>
      </div>

    <div class="content">
      {{ content }}
    </div>

    <div class="side">
      <p class="me">
        <img src="/public/images/ben.jpg">
      </p>
      <p>
        Ben Aşkın,
      </p>
      <p>
        Benimle ilgili daha fazla bilgiyi
        <a href="/about">hakkımda</a> sayfasına göz atarak
        veya <a href="https://twitter.com/askngdk">Twitter</a>,
        <a href="https://www.facebook.com/askngdk">Facebook</a> ve
        <a href="http://github.com/askn">Github</a> üzerinden takip
        ederek öğrenebilirsiniz.
      </p>
    <div>
  </div>

  {% comment %}
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
    (function(document) {
      var toggle = document.querySelector('.sidebar-toggle');
      var sidebar = document.querySelector('#sidebar');
      var checkbox = document.querySelector('#sidebar-checkbox');

      document.addEventListener('click', function(e) {
        var target = e.target;

        if(!checkbox.checked ||
          sidebar.contains(target) ||
          (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
      </script>
    -->
  {% endcomment %}
</body>
</html>
