---
layout: default
---

<div class="post">
  <small class="pdate">{{ page.date | date_to_string }}</small>
  {{ content }}
</div>

<div id="post-meta">
  <a id="about" href="http://twitter.com/askngdk">
    <span><img class="avatar" src="/public/images/ben.jpg"></span>
    <div>
      <b>Aşkın Gedik</b>
      <br />
      Ruby on Rails Developer
    </div>
  </a>

  <section id="sharing">
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ page.title }} via @askngdk {{ page.url | absolute_url }}" data-size="large" data-count="none">Paylaş</a>
  </section>
</div>

<div class="navigation clearfix">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>

<div class="comment">
  <div id="disqus_thread" aria-live="polite">
    {% include disqus.html %}
  </div>
</div>
